:root{
    --main-color : #191F3A;
    --sub-color  : #EAA023;
}
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.justify-content {
    justify-content: space-between;
}
.container{
    margin: auto;
    max-width: 1200px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.top{
    background-color: var(--main-color) ;
}
.top .logo img{
    width: 80px;
}
.top .menu-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.top .menu-bar span{
    display: block;
    height: 2px;
    width: 40px;
    background-color: var(--sub-color);
    position: relative;
}
.top .menu-bar span ::before {

}